body {
    margin: 0;
}

.space {
    display: flex;
    justify-content: center;
    padding: 40px;

}

.chats {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}

.chats:hover {
    border: 1px solid royalblue;
}

.chat{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

.chat:hover {
    background: #bbbbbb;
    cursor: pointer;
}

.count-new-message {
    color: #2a5885;
    margin-left: 5px;
}

.users {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}

.users:hover {
    border: 1px solid royalblue;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.btn-send-msg {
    border-radius: 5px;
    border: 1px solid royalblue;
    background: steelblue;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    color: white;

}

.btn-send-msg:hover {
    cursor: pointer;
    border: 1px solid steelblue;
    background: royalblue;
    box-shadow: 0 0 5px #bbbbbb;
}

.name {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.message {
    width: 400px;
    border-radius: 5px;
    background: #a5a5a5;
}

.another-message {
    width: 400px;
    border-radius: 5px;
    background: #7fc7ff;
}