<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link href="../static/assets/css/main-page.css" rel="stylesheet">-->
<!--    <link href="../static/assets/css/main-page.css" rel="stylesheet">-->
    <title>WINY</title>

        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/assets/css/main-page.css}"/>
<!--    <script src='https://cdn.jsdelivr.net/npm/fetch-inject@1.8.1/dist/fetch-inject.es.min.js'></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    <script src="https://cdn.skypack.dev/pin/ky@v0.28.5-QNkSVhqcJqTZyJaQOB98/mode=imports/optimized/ky.js"></script>-->

</head>
<body>

</body>

<script type="text/javascript" th:src="@{/js/Main.js}"></script>

<script type="text/javascript" th:src="@{/js/application/Application.js}"></script>
<script type="text/javascript" th:src="@{/js/application/User.js}"></script>

<script type="text/javascript" th:src="@{/js/application/auxiliary/AuxiliaryBuilders.js}"></script>

<script type="text/javascript" th:src="@{/js/application/connection/Requests.js}"></script>
<script type="text/javascript" th:src="@{/js/application/connection/LoginConnect.js}"></script>
<script type="text/javascript" th:src="@{/js/application/connection/StompConnect.js}"></script>

<script type="text/javascript" th:src="@{/js/application/view/Login.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/UserWindow.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/MainContainer.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/Registration.js}"></script>

<script type="text/javascript" th:src="@{/js/application/view/element/ContactElement.js}"></script>

<script type="text/javascript" th:src="@{/js/application/view/left/LeftPanel.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/left/Menu.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/left/Profile.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/left/Search.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/left/UserList.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/left/UserPanel.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/left/SearchResult.js}"></script>

<script type="text/javascript" th:src="@{/js/application/view/right/RightPanel.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/right/ChatsBox.js}"></script>
<script type="text/javascript" th:src="@{/js/application/view/right/Chat.js}"></script>

</html>