<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link href="../static/assets/css/main-page.css" rel="stylesheet">-->
    <title>WINY</title>

        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/assets/css/main-page.css}"/>

</head>
<body>
<!--<div class="container-login ">-->
<!--<div class="login-box" >-->
<!--    <div class="title-login" >Login</div>-->
<!--    <input placeholder="mobile" >-->
<!--    <input type="password" placeholder="password" >-->
<!--    <div class="login-buttons" >-->
<!--    <button>Log in</button>-->
<!--    <button>Sign up</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
</body>

<script type="text/javascript" th:src="@{/js/Constructing.js}"></script>
<script type="text/javascript" th:src="@{/js/Application.js}"></script>
<script type="text/javascript" th:src="@{/js/Creator.js}"></script>

</html>