<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/assets/css/main-page.css" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          th:href="@{/assets/css/main.css}"/>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="left-panel">
        <div class="search">
            <input placeholder="search" type="text">
            <i class="fa fa-search"></i>
        </div>
        <ul class="users-list">
            <li >
                <img height="55px">
                <div class="about">
                    <div class="name">Oleg</div>
                    <div class="status"></div>
                </div>
            </li>

            <li>
                <img height="55px">
                <div class="about">
                    <div class="name">Vasia</div>
                    <div class="status"></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header">
            <img height="55px">
            <div class="chat-about">
                <div class="chat-with">Somebody</div>
            </div>
            <i class="fa fa-star"></i>
        </div>

        <div class="chat-history">
            <ul>
                <li >
                    <div class="message-data align-right">
                        <span class="message-data-time">23:39 AM, Today </span>
                        <span class="message-data-name">Vasia</span>
                    </div>
                    <div class="message other-message float-right">
                        Well I am not sure. The rest of the team is not here yet.
                        Maybe in an hour or so? Have you faced
                        any problems at the last phase of the project?
                    </div>
                </li>

                <li>
                    <div class="message-data">
                        <span class="message-data-name">Oleg</span>
                        <span class="message-data-time">23:34 AM, Today </span>
                    </div>
                    <div class="message my-message">
                        Well I am not sure. The rest of the team is not here yet.
                        Maybe in an hour or so? Have you faced
                        any problems at the last phase of the project?
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-message">
            <textarea placeholder="type your message" ></textarea>
            <button>Send</button>
        </div>

    </div>

    <div class="right-panel" >
        <div class="list-chats-header">Your Messaging</div>
        <div class="list-chats" >

            <div class="chat-element" >
                <img height="55px" src="../static/img/uesr55.jpg" >
                <div class="chat-element-content" >
                    <div class="name-chat" >Oleg</div>
                    <div class="unread-message" >Эй здаров че каво?</div>
                </div>
            </div>

            <div class="chat-element" >
                <img height="55px" src="../static/img/uesr55.jpg" >
                <div class="chat-element-content" >
                    <div class="name-chat" >Ivan</div>
                    <div class="unread-message" >Опачки</div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>