<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/assets/css/main-page.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="left-panel">
        <div class="search">
            <input placeholder="search" type="text">
            <i class="fa fa-search"></i>
        </div>
        <ul class="users-list">
            <li >
                <img height="55px">
                <div class="about">
                    <div class="name">Oleg</div>
                    <div class="status"></div>
                </div>
            </li>

            <li>
                <img height="55px">
                <div class="about">
                    <div class="name">Vasia</div>
                    <div class="status"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="chat">
        <div class="chat-header">
            <img height="55px">
            <div class="chat-about">
                <div class="chat-with">Somebody</div>
            </div>
            <i class="fa fa-star"></i>
        </div>

        <div class="chat-history">
            <ul>
                <li >
                    <div class="message-data align-right">
                        <span class="message-data-time">23:39 AM, Today </span>
                        <span class="message-data-name">Vasia</span>
                    </div>
                    <div class="message other-message float-right">
                        Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced
                        any problems at the last phase of the project?
                    </div>
                </li>

                <li>
                    <div class="message-data">
                        <span class="message-data-name">Oleg</span>
                        <span class="message-data-time">23:34 AM, Today </span>
                    </div>
                    <div class="message my-message">
                        Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced
                        any problems at the last phase of the project?
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-message">
            <textarea placeholder="type your message" ></textarea>
            <button>Send</button>
        </div>

    </div>
</div>
</body>
</html>