<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/assets/css/main-page.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container-login">
    <div class="login-box" >
        <div class="title-login" >Registration</div>
        <input type="text" placeholder="first name" >
        <input type="text" placeholder="last name" >
        <input type="text" placeholder="mobile" >
        <textarea placeholder="about" ></textarea>
        <input type="password" placeholder="password" >
        <input type="password" placeholder="repeat password" >
        <div class="login-buttons">
            <button>Registration</button>
            <button>Cancel</button>
        </div>
    </div>
</div>
</body>
</html>